<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57156047199-ukqas8ebo8k0mnse42jd6uretdgptrnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57156047199-ukqas8ebo8k0mnse42jd6uretdgptrnc</string>
	<key>API_KEY</key>
	<string>AIzaSyDJs61ht-xEkWD92l-8PET8nG27iVj4sgg</string>
	<key>GCM_SENDER_ID</key>
	<string>57156047199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.collectionApp</string>
	<key>PROJECT_ID</key>
	<string>mycollection-1767c</string>
	<key>STORAGE_BUCKET</key>
	<string>mycollection-1767c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57156047199:ios:8691dbf8f4b0093b4a26ea</string>
</dict>
</plist>